title=Donate to Adblock Plus

<head>
<style type="text/css">
h2
{
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

label
{
  display: block;
}

#form button,
#form-fields label
{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

#form button:hover
{
  background-color: #ebebeb;
  border-color: #adadad;
}

#form button:active
{
  background-color: #ebebeb;
  border-color: #adadad;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.hidden
{
  display: none;
}

.contentfield_content .hidden
{
  display: block;
}

#form strong
{
  display: block;
  margin: 10px 0px;
}

#form button
{
  font-size: 18px;
}

/* Paypal */

#form.none button.paypal,
#form.paypal button.paypal
{
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

#form.none button.paypal:hover,
#form.paypal button.paypal:hover
{
  background-color: #3276b1;
  border-color: #285e8e;
}

/* Secondary Form Elements */

#form-fields
{
  display: none;
}

#form.paypal #form-fields
{
  display: block;
}

/* This cannot be #donate because specificity is too low */
#form #donate
{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#form #donate:hover
{
  background-color: #47a447;
  border-color: #398439;
}

#error
{
  color: #d9534f;
  vertical-align: middle;
}

#refund-message
{
  margin-top: 50px;
  font-style: italic;
}

#refund-message *
{
  font-size: 12px;
}

#refund-message div
{
  margin-bottom: 5px;
}

#refund-message ul
{
  padding-top: 0px;
  margin-top: 0px;
}

.custom-input
{
  display: inline-block;
  margin-left: 6px;
}

.custom-input .currency-label
{
  padding: 2px 6px;
  text-align: center;
  color: #555;
  font-size: 14px;
  border: 1px solid #ccc;
  border-right: 0;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #eee;
}

.custom-input input
{
  width: 75px;
  margin: 0px;
  padding: 2px;
  text-align: right;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>

<script type="text/javascript">
// <!--
(function()
{
  var textAttr = ("textContent" in document.documentElement) ? "textContent" : "innerText";

  var formValues = {
    name: null
  };

  var currencyValue = {
    get: function()
    {
      return getCheckedCheckbox(document.querySelectorAll("input[name=currency]")).value;
    }
  };

  var priceValue = {
    get: function()
    {
      var value = getCheckedCheckbox(document.querySelectorAll("input[name=price]")).value;
      if (value == 0)
        value = document.getElementById("price-other").value >> 0;
      return value;
    },
    min: function()
    {
      return parseInt(document.getElementById("price-other").getAttribute("min"), 10);
    },
    verify: function()
    {
      var selected = getCheckedCheckbox(document.querySelectorAll("input[name=price]"));
      if (!selected)
        return "Please select an amount";
      if (this.get() < this.min())
        return "Please select a valid amount";
      return null;
    }
  };

  var langValue = {
    get: function(langs)
    {
      var lang = document.documentElement.lang;
      if (lang in langs)
        return langs[lang];
      if ("en" in langs)
        return langs["en"];
      return "en";
    }
  };

  var recurrenceValue = {
    get: function(recurrences)
    {
      var checked = document.getElementById("recurrence").checked;
      return (checked && recurrences.monthly) ? recurrences.monthly : undefined
    }
  };

  var providers = {
    "paypal": function()
    {
      if (verify(priceValue))
        return;

      var recurrence = recurrenceValue.get({
        "monthly": "M"
      });

      var fields = {
        charset: "utf-8",
        business: "till@adblockplus.org",
        item_name: formValues.name,
        currency_code: currencyValue.get(),
        page_style: "paypal",
        cpp_header_image: "https://adblockplus.org/paypal_header.png",
        cpp_payflow_color: "F6F4EF",
        lc: langValue.get({
          "de": "DE",
          "en": "US",
          "es": "ES",
          "fr": "FR",
          "nl": "NL",
          "pt_br": "BR",
          "zh_cn": "C2",
          "zh_tw": "TW"
        })
      };
      if (recurrence)
      {
        fields.cmd = "_xclick-subscriptions";
        fields.a3 = priceValue.get();
        fields.p3 = 1;
        fields.t3 = recurrence;
        fields.src = 1;
        fields.modify = 1;
      }
      else
      {
        fields.cmd = "_donations";
        fields.amount = priceValue.get();
      }

      openProviderPage({
        action: "https://www.paypal.com/cgi-bin/webscr",
        fields: fields
      });
    }
  };

  function verify()
  {
    var error = null;
    for (var i in arguments)
    {
      error = arguments[i].verify();
      if (error)
      {
        document.getElementById("error")[textAttr] = error;
        break;
      }
    }
    return error;
  }

  function openProviderPage(provider)
  {
    document.getElementById("error")[textAttr] = "";

    var form = document.createElement("form");
    form.target = "_blank";
    form.action = provider.action;

    var fields = provider.fields;
    if (fields)
    {
      for (var i in fields)
      {
        var field = document.createElement("input");
        field.name = i;
        field.value = fields[i];
        form.appendChild(field);
      }
    }

    // To submit a form in Firefox it needs to be part of the DOM
    var documentHead = document.getElementsByTagName("head")[0]
    documentHead.appendChild(form);
    form.submit();
    documentHead.removeChild(form);
  }

  function getText(id)
  {
    var element = document.getElementById(id);
    return element[textAttr];
  }

  function ensureMinPrice()
  {
    var provider = document.getElementById("form").className;
    var minPrice = 1;
    var priceOther = document.getElementById("price-other");
    priceOther.setAttribute("min", minPrice);
    if (priceOther.value >> 0 < minPrice)
      priceOther.value = minPrice;
  }

  function getCheckedCheckbox(checkboxes)
  {
    var checkboxLength = checkboxes.length;
    while (checkboxLength--)
    {
      if (checkboxes[checkboxLength].checked)
        return checkboxes[checkboxLength];
    }
  }

  function updateCurrency()
  {
    var currencyField = document.getElementById("form-currency");
    var selectedCurrency = getCheckedCheckbox(
      currencyField.querySelectorAll("input[name=currency]")
    );
    if (!selectedCurrency)
      return;
    var currencyLabel = selectedCurrency.parentNode[textAttr];
    var currencyLabels = document.querySelectorAll(".currency-label");
    for (var i = 0; i < currencyLabels.length; i++)
      currencyLabels[i][textAttr] = currencyLabel;
    ensureMinPrice();
  }

  function initializeDonationForm()
  {
    formValues.name = getText("i18n_name");
    document.getElementById("form-payment").addEventListener("click", onSelectPayment, true);
    document.getElementById("form-currency").addEventListener("click", updateCurrency, true);
    document.getElementById("form").addEventListener("submit", onSubmitDonation, false);
    updateCurrency();
  }

  function onSelectPayment(event)
  {
    if (event.target.tagName != "BUTTON")
      return;
    event.preventDefault();
    document.getElementById("form").className = event.target.className;
    ensureMinPrice();
  }

  function onSubmitDonation(event)
  {
    event.preventDefault();
    var provider = providers[document.getElementById("form").className];
    if (provider)
      provider();
  }

  document.addEventListener("DOMContentLoaded", initializeDonationForm, false);

})();

// -->
</script>
</head>
<span class="hidden" id="i18n_name">{{s1 Adblock Plus Contribution}}</span>

<p>
  {{s2 Adblock Plus is - and will always be - free. Our mission is to provide users with tools that allow them to gain control over their Internet browsing and protect them from unwanted and malicious elements.
  Your donation directly helps the development of Adblock Plus.}}
</p>

<form class="paypal" id="form">
  <p id="form-payment">
    <strong>{{s3 Select your payment method}}</strong>

    <button class="paypal" value="paypal" name="payment">{{s4 PayPal}}</button>
  </p>

  <div id="form-fields">
    <p id="form-currency">
      <strong>{{s6 Choose your currency}}</strong>

      <label>
        <input checked="checked" name="currency" type="radio" value="USD">
        $
      </label>
      <label>
        <input name="currency" type="radio" value="EUR">
        €
      </label>
    </p>

    <p id="form-price">
      <strong>{{s7 Name your price}}</strong>

      <label>
        <input name="price" type="radio" value="5">
        <span class="currency-label"></span>5
      </label>
      <label>
        <input name="price" type="radio" value="10">
        <span class="currency-label"></span>10
      </label>
      <label>
        <input name="price" type="radio" value="20">
        <span class="currency-label"></span>20
      </label>
      <label>
        <input name="price" type="radio" value="40">
        <span class="currency-label"></span>40
      </label>
      <label>
        <input name="price" type="radio" value="0">
        {{s8 Other:}}
        <span class="custom-input">
          <span class="currency-label"></span><input id="price-other" min="1" type="number" value="1">
        </span>
      </label>
    </p>

    <p id="form-recurrence">
      <label>
        <input id="recurrence" type="checkbox">
        {{s9 Make this payment a monthly contribution}}*
      </label>
    </p>

    <button id="donate">{{s10 Donate}}</button>
    <span id="error"></span>

    <div id="refund-message">
      <div>
        {{s11 You can receive a refund within 120 days of payment. Please send an email to <a href="mailto:info@adblockplus.org"><fix>info@adblockplus.org</fix></a>.}}
      </div>
      <div id="recurrent-cancellation">
        * {{s12 To cancel your monthly payment, click the link below that corresponds to how you donated:}}
        <ul>
          <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_manage-paylist" target="_blank">{{s13 I donated with PayPal}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</form>
