title=Imprint


<p>
  <strong>Eyeo GmbH</strong><br>
  Lichtstraße 25<br>
  50825 Cologne<br>
  Germany
</p>

<p>
  {{s1 For support please go to:}} <a href="/forum/">Adblock Plus Forum</a><br>
  {{s2 Email:}} <a href="mailto:info@eyeo.com">info@eyeo.com</a><br>
  {{s3 Phone:<fix> +49 (0)221 / 6430630</fix>}}<br>
  {{s4 Fax:<fix> +49 (0)221 / 64306399</fix>}}
</p>

<p>
  Ust-IdNr: DE279292414<br>
  {{s5 District Court:<fix> Köln HRB 73508</fix>}}
</p>

<p>
  <strong>{{s6 Managing Directors:}}</strong><br>
  Till Faida<br>
  Felix Dahlke<br>
  Steffen Kiedel
</p>
