
{%- macro process_subscription(subscription, parent=None) %}
  <li>
    <article class="subscription {% if subscription["deprecated"] %}deprecated{% endif %}">
      <div class="subscription-content">
        <div class="subscription-summary">
          <h1>{{ subscription["name"] }}</h1>
          <p>
            {{ "Specialization"|translate("specialization") }}:
            {{ subscription["specialization"] }}
          </p>
          {%- if subscription["supplements"] %}
          <p>
            {{ "supplement for"|translate("supplements_prefix") }}
            {{ ' / '.join(subscription["supplements"]) }}
            {{ " "|translate("supplements_suffix") }}.
          </p>
          {%- endif %}
        </div>
      </div>
      <footer class="subscription-details">
        <div class="subscription-authors">
          {%- if subscription["maintainer"] %}
          <address>
            {{ "by"|translate("maintainer_prefix") }}
            {{ subscription["maintainer"] }}
            {{ " "|translate("maintainer_suffix") }}
          </address>
          {%- endif %}
          {%- set is_first = True %}
          <p>
          {% for key, default in (('homepage', 'Homepage'), ('forum', 'Forum'), ('contact', 'Contact page'), ('faq', 'FAQ'), ('blog', 'Blog'), ('changelog', 'Changelog'), ('policy', 'Policy')) -%}
          {%- set url = subscription[key] -%}
            {%- if url -%}
              {%- if not is_first %}, {% endif -%}
              {%- set is_first = False -%}
              <a href="{{ url }}">{{ default|translate(key) }}</a>
            {%- endif %}
          {%- endfor %}
          </p>
        </div>
        <div class="subscription-links">
          {%- if subscription["deprecated"] %}
          <p>
            <strong>{{ "Note: This list is not optimized for Adblock Plus and may slow down your browsing experience."|translate("deprecation_warning") }}</strong>
          </p>
          {%- endif %}
          <p>
            {{ "Subscribe:"|translate("subscribe") }}{{ ' ' }}
            {%- for title, url, complete in subscription["variants"] -%}
            <a href="https://subscribe.adblockplus.org?location={{ url|urlencode }}&amp;title={{ title|urlencode }}
              {%- if parent and not complete -%}
                {%- set main_title, main_url, main_complete = parent.variants[0] -%}
                &amp;requiresLocation={{ main_url|urlencode }}&amp;requiresTitle={{ main_title|urlencode }}
              {%- endif -%}
            ">{{ title }}</a>{%- if not loop.last %}, {% endif -%}
            {%- endfor %}
          </p>
        </div>
      </footer>
    </article>
    {%- if subscription["supplemented"] -%}
    <ul class="supplemented-subscriptions-list">
    {%- for supplement in subscription["supplemented"]|subscription_sort -%}
      {{ process_subscription(supplement, subscription) }}
    {%- endfor -%}
    </ul>
    {%- endif -%}
  </li>
{%- endmacro %}

{% macro display_subscriptions(subscriptions) %}
  {%- set subscription_types = [] -%}
  {%- for subscription in subscriptions|subscription_sort -%}
    {%- if not (subscription["supplements"] and current_type == subscription["type"]) -%}
      {%- set current_type = subscription_types[-1] if subscription_types else '' -%}
      {%- if current_type != subscription["type"] -%}
        {%- if current_type %}
  </ul>
        {%- endif -%}
        {%- set current_type = subscription["type"] %}
	{%- set _ = subscription_types.append(current_type) -%}
  <h2 id="type_{{ current_type }}">{{ get_string("type_" + current_type, "subscriptions") }}</h2>

  <ul class="subscriptions-list">
      {%- endif -%}
    {%- endif -%}
    {%- if subscription["type"] not in subscription["supplementsType"] -%}
      {{ process_subscription(subscription) }}
    {%- endif -%}
  {%- endfor %}
  </ul>
{% endmacro %}
